## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
[Dd]ebug/
[Rr]elease/

## Visual Studio
.vs/
*.sln.ide/

## JetBrains IDE
.idea/

## Node
node_modules/
dist/

## OS
.DS_Store
Thumbs.db

## Logs
*.log

